<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>auction </title>
</head>
<body>
<a href="/">Volver</a>
<h2>{{ title }}
{% if is_seller %}
    <a href="/editauction/{{ id }}"> [editar]</a>
{% endif %}
{% if is_super %}
    <a href="/banauction/{{ id }}"> [BAN]</a>
{% endif %}
</h2>
<p>{{ description }}</p>
<p><b>Estado: </b> {{ status }}</p>
<p><b>Vendedor:</b> {{ seller }}</p>
<p><b>Precio</b> : {{ last_bid }}</p>
<p><b>Último pujadorr:</b>  {{ last_bider }}</p>
<p><b>Fecha límite:</b>  {{ deadline }}</p>
{% if status == "ACTIVE" %}
<form action="/bid/{{ id }}" method="post">
    {% csrf_token %}
    <input name="bid" pattern="^[0-9]{1,5}\.?[0-9]{0,2}$">
    <input type="hidden" name="desc_version" value="{{ desc_version }}"/>
    <input type="submit" value="PUJAR">
</form>
{% endif %}
{% if show_msg %}
    <p><b>{{ message }}</b></p>
{% endif %}
</body>
</html>