<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <meta charset="utf-8">
    <title>YAAS</title>
</head>
<body style="margin: 0 auto; width: 900px">
   <h1>YAAS</h1>
    <p>Bienvenido a YAAS</p>
   <form action="/language/" method="post" >
       {% csrf_token %}
       <select name="language" onchange="this.form.submit();">
           <option value="ENG">English</option>
           <option value="ESP">Español</option>
       </select>
   </form>
   {% if logged_in %}
       <p>Sesión iniciada como: <a href="/editaccount/">{{ username }}</a></p>
       <p><a href="/logout/">Salir</a></p>
       <p><a href="/createauction/">Crear nueva subasta</a></p>

   {% else %}
        <div id="login_panel">
        <form action="/login/" method="post">
        {% csrf_token %}
            Usuario:
        <input name="username"/><br>
            Contraseña:
            <input type="password" name="password" /><br>

            <input type="submit" value="Login">
        </form>
        <a href="/register/">Sign up</a>
    </div>
    {% endif %}
    <h2>Subastas</h2>
   <form action="/search/" method="get">
       <input name="title" placeholder="Buscar por titulo">
       <input type="submit" value="Buscar">
   </form>
   <p>-------------------------------------------------------------</p>
    {% for auction in auctions %}
        <div class="auction">
        <h3><a href="/auction/{{ auction.id }}">{{ auction.title }}</a></h3><p><b>Seller: </b>{{ auction.seller }}</p>
         <p><b>Descripción: </b>{{ auction.description }}</p>
        <p>-------------------------------------------------------------</p>
        </div>
    {% endfor %}

</body>
</html>