<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>iWiki: {{ title }}</title>
</head>
<body>
   <h1>{{ title }}</h1>
    <form action="/editblog/{{ id }}/" method="post">
    {% csrf_token %}
        Title:
    <input name="title" value="{{ title }}"/><br>
    <textarea name="content" cols="80" rows="30">{{ content }}</textarea><br>
    <input type="hidden" name="version" value="{{ version }}"/>
        Version: {{ version }}
    <input type="submit" value="Save">
    </form>

</body>
</html>