<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% if logged_in %}
    <h1>You are logged in!!</h1>
    <p><a href="/logout/">Log out</a> </p>
{% else %}
    <div>
     <h1>User login panel</h1>
    <form action="/login/" method="post">
    {% csrf_token %}
        Username:
    <input name="username"/><br>
        Password:
        <input type="password" name="password" /><br>



        <input type="submit" value="Login">
    </form>
    </div>
{% endif %}

{% for blog in blogs %}
    <h1><a href="/myblog/{{ blog.id }}">{{ blog.title }}</a></h1>
    <p>{{ blog.content_body }}</p>
{% endfor %}
<ul>
    <li>Session start date: {{ session_date }}</li>
    <li>Blogs visited: {{ blogs_visited }}</li>
    <li>Blogs edited: {{blogs_edited  }}</li>
    <li>Blogs created: {{ blogs_created }}</li>
    <li>Blogs deleted: {{ blogs_deleted }}</li>
</ul>

<form action="/erasestats/" method="get">
    <input type="submit" value="Reset">
</form>
</body>
</html>